
body{
  background-color: rgb(175, 164, 184);
}
h1 {
  font-family: "Itim", cursive;
  color: rgb(166, 92, 240);
  text-align: center;
}

p {
  font-family: "Indie Flower", cursive;
  font-size: 20px;
  color: rgb(63, 22, 63);
}
li {
  font-family: "Indie Flower", cursive;
  font-size: 20px;
}
li:hover {
  font-weight: bold;
  color: rgb(130, 230, 130);
}
.lista {
  font-style: italic;
}

/* no mobile não dá certo essa opção, mas deixarei aqui para fins de estudo
#foto{
  float:left;
  padding:5px;
  height:290px;
  background-color: rgb(209, 177, 231);
}
.image-container{
  height:300px;
  position: relative;
  
}


#descrição{
position:absolute;
top:36%;
left:360px;

}
*/